<mypath>
 <div class="level-item has-text-centered">
   
            <a>path0</a>/<a>path1</a>/<a>path2</a>

        </div>

     <script>
    export default {
      
    }
  </script>


        </mypath>