<mypath>
 
 
 
 <div class="level-item has-text-centered">
   <div each={item in props.path}>
    <a>{item}/</a>
   </div>
           

        </div>

     <script>

    
    export default {


    }
  </script>


        </mypath>